@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("#{resource['fonts/glyphicons-halflings-regular.eot']}");
    src: url("#{resource['fonts/glyphicons-halflings-regular.eot']}?#iefix") format('embedded-opentype'),
            url("#{resource['fonts/glyphicons-halflings-regular.woff']}") format('woff'),
            url("#{resource['fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),
            url("#{resource['fonts/glyphicons-halflings-regular.svg']}#glyphicons-halflingsregular") format('svg');
}

/* Properties that both side lists have in common */
div.link-list {
        width:10.2em;
        position:absolute;
        top:0;
        font-size:80%;
        padding-left:1%;
        padding-right:1%;
        margin-left:0;
        margin-right:0;
}
/* we leave some place on the side using the margin-* properties */
#main {
        margin-left:10.2em;
        margin-right:10.2em;
        padding-left:1em;
        padding-right:1em;
}
/* and then we put each list on its place */
#list1 {
        left:0;
}
#list2 {
        right:0;
}

h1 {
	color: gray;
	margin: 10px;
}

.h1-forms {
	color: gray;
	margin-left: 30%;
}

.acoes {
	background-color: white;
	color: blue;
}

h3{
	color: #191970;
	font-family: fantasy sans-serif cursive;
}

 
#block-main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #555555;
    font: 14px/20px 'PT Sans',Arial,Helvetica,sans-serif;
    min-height: 810px;
    padding: 20px 0px;
}