<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/nautilus</property>
        <property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<!-- entidades  Declarar as entidades que serao utilizadas no sistema-->
		<mapping class="br.com.barcadero.tables.Bairro"			/>
		<mapping class="br.com.barcadero.tables.Estado"			/>
		<mapping class="br.com.barcadero.tables.Cidade"			/>
		<mapping class="br.com.barcadero.tables.Endereco"		/>
		<mapping class="br.com.barcadero.tables.Empresa"			/>
		<mapping class="br.com.barcadero.tables.Loja" 			/>
		<mapping class="br.com.barcadero.tables.PessoaJuridica"	/>
		<mapping class="br.com.barcadero.tables.Cliente"			/>
		<mapping class="br.com.barcadero.tables.PessoaFisica"	/>
		<mapping class="br.com.barcadero.tables.Funcionario"		/>
		<mapping class="br.com.barcadero.tables.Vendedor"		/>
		<mapping class="br.com.barcadero.tables.Loja"			/>
		<mapping class="br.com.barcadero.tables.Usuario"			/>
		<mapping class="br.com.barcadero.tables.Avisos"			/>
		<mapping class="br.com.barcadero.tables.Caixa"			/>
		<mapping class="br.com.barcadero.tables.UserMensagens"	/>
		<mapping class="br.com.barcadero.tables.CaixaFechamento"	/>
		<mapping class="br.com.barcadero.tables.CaixaAbertura"	/>
		<mapping class="br.com.barcadero.tables.Produto"		/>
		<mapping class="br.com.barcadero.tables.ProdutoLoja"	/>
		<mapping class="br.com.barcadero.tables.CupomEletronico"	/>
		<mapping class="br.com.barcadero.tables.Nota"				/>
		<mapping class="br.com.barcadero.tables.NotaEletronica"		/>
		<mapping class="br.com.barcadero.tables.NotaItens"			/>
		<mapping class="br.com.barcadero.tables.NotaMeioPgto"		/>
		<mapping class="br.com.barcadero.tables.MeiosPagamento"	/>
		<mapping class="br.com.barcadero.tables.AuditoriaLog" 	/>
		<mapping class="br.com.barcadero.tables.ContaPagar"	/>
		<mapping class="br.com.barcadero.tables.PlanoConta"	/>
		<mapping class="br.com.barcadero.tables.ParametrosSistema"	/>
		<mapping class="br.com.barcadero.tables.Medicos"	/>
		<mapping class="br.com.barcadero.tables.OrdemServico"	/>
		<mapping class="br.com.barcadero.tables.OrdemServicoDioptria"	/>
		<mapping class="br.com.barcadero.tables.OrdemServicoItens"	/>
		<mapping class="br.com.barcadero.tables.Marcas"	/>
		<mapping class="br.com.barcadero.tables.Estoque"/>
		<mapping class="br.com.barcadero.tables.EstoqueDetalhe"/>
		<mapping class="br.com.barcadero.tables.EstoqueBaixa"/>
		<mapping class="br.com.barcadero.tables.Pedido"/>
		<mapping class="br.com.barcadero.tables.PedidoItens"/>
		<mapping class="br.com.barcadero.tables.CartaoPresente"/>
		<mapping class="br.com.barcadero.tables.NotaSequence"/>
		
	</session-factory>
</hibernate-configuration>
